* {
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #121212 !important;
}
.toast-alert {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 100%;
    max-width: 400px;
}
/* 1. Bordered black btn */
.btn-mono-outline {
    /* background-color: transparent !important; */
    color: #f8f9fa !important;
    border: 1px solid #495057 !important;
    background-color: #1a1a1a !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out !important;
    padding: 6px 15px !important;
    /* fix for active */
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    transform: scale(1) !important;
    transition: transform 0.1s ease-in-out !important;
}
.btn-mono-outline:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #ffffff !important;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);
}
.btn-mono-outline:active {
    background-color: #ecebeb !important;
    transform: scale(0.95) !important;
}
/* 2. filed white btn */
.btn-mono-solid {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ffffff !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out !important;
}
.btn-mono-solid:hover {
    background-color: #e2e8f0 !important;
    border-color: #e2e8f0 !important;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.15);
}
/* bootstrap btn fix */
.btn-mono-outline:focus, .btn-mono-solid:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) !important;
}
.inp-txt {
    color: #f8f9fa !important;
    border: 1px solid #495057 !important;
    background-color: #1a1a1a !important;
    font-weight: 500;
}