{% extends "layout.html" %}

{% block title %}
   Add
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content justify-content-center">
        <h1 class="mb-4">New Entry</h1>
        <form action="/add" method="post" onsubmit="this.querySelector('button[type=submit]').disabled=true;">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="word" placeholder="Word" type="text">
            </div>
            <button class="btn btn-mono-outline btn-sm" type="submit">Add</button>
        </form>
        <hr>
        {% if word %}
            <div class="card">
                <div class="card-body">
                    <h5>pair "{{ word }}" - "{{ translation }}" added to yor words</h5>

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
