{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content justify-content-center">
        <h1 class="mb-3">New Entry</h1>
        <form action="/add" method="post" onsubmit="this.querySelector('button[type=submit]').disabled=true;">
            <div class="mb-3" style="width: 250px; margin: 0 auto 8px auto; text-align: center; font-size: 14px;">
                Only word is required, but you can add your own translation or context
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto inp-txt" name="word" placeholder="Word" type="text" required>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto inp-txt" name="context" placeholder="Context" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto inp-txt" name="translation" placeholder="Translation" type="text">
            </div>
            <button class="btn btn-mono-outline btn-caps btn-sm" type="submit">Add</button>
        </form>
        <hr>
        {% if word %}
            <div class="card card-mono mx-auto my-3">
                <div class="card-body py-2 px-3 d-flex align-items-center justify-content-between ">
                    <div class="d-flex align-items-center gap-2">
                        <span class="text-white-50">Added:</span>
                        <span class="word-highlight fw-semibold text-white">{{ word }}</span>
                        <span class="text-white-50">-</span>
                        <span class="word-highlight">{{ translation }} *</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
