{% extends "layout.html" %}

{% block title %}
   Flashcards
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" id="flashcard-text">{{ word }}</h5>
                <a href="#" class="btn" id="toggle-btn">Show translation</a>
            </div>
        </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" onclick="answer('forgot')">Forgot</button>
        <button type="button" class="btn btn-primary" onclick="answer('hard')">Hard</button>
        <button type="button" class="btn btn-primary" onclick="answer('normal')">Normal</button>
        <button type="button" class="btn btn-primary" onclick="answer('easy')">Easy</button>
    </div>
    </div>

    <script>
        const words = {{ words | safe }};
        let num = 0;
        let showingWord = true;
        let word = words[num].word;
        let translation = words[num].translation;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('flashcard-text').textContent = word;
        });

        document.getElementById('toggle-btn').addEventListener('click', function(e) {
            e.preventDefault();
            const textElem = document.getElementById('flashcard-text');
            if (showingWord) {
                textElem.textContent = translation;
                this.textContent = "Show word";
            } else {
                textElem.textContent = word;
                this.textContent = "Show translation";
            }
            showingWord = !showingWord;
        });

        function showNextCard() {
            num++;
            word = words[num].word;
            translation = words[num].translation;
            document.getElementById('toggle-btn').textContent = "Show translation";
            showingWord = true;
            document.getElementById('flashcard-text').textContent = word;
        }

        async function answer(quality) {
            const response = await fetch('/flashcards', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ word: word, quality: quality })
            });
        
            if (response.ok) {
                showNextCard();
            }
        }

        </script>
{% endblock %}
