{% extends "layout.html" %}

{% block title %}
   About
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content">
        <h1 class="mb-3">WOK - Vocabulary Learning Web App</h1>
        <p class="lead">A web app for learning English words using spaced repetition (SRS).</p>
        <ul class="list-unstyled mb-4">
            <li>Add new words and their translations</li>
            <li>Practice with flashcards</li>
            <li>The system reminds you when it’s time to review</li>
        </ul>
    </div>
{% endblock %}
