{% extends "layout.html" %}

{% block title %}
   Tasks
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Flashcards</h5>
                <p class="card-text">Test your memory by recalling the translation. Flip the card to see the answer, then rate how well you remembered it to optimize your learning schedule.</p>
                <a href="/flashcards" class="btn">Start</a>
            </div>
        </div>

    </div>
{% endblock %}
