{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <div class="container min-vh-100 d-flex flex-column align-items-center main-content justify-content-center">
        <h1 class="mb-4">Select a Task</h1>
        <div class="card py-2 card-mono mx-auto my-3" style="width: 250px;">
            <div class="card-body py-2 px-3">
                <h5 class="card-title">Flashcards</h5>
                <p class="card-text">Test your memory by recalling the translation. Flip the card to see the answer, then rate how well you remembered it to optimize your learning schedule.</p>
                <a href="/flashcards" class="btn btn-mono-outline btn-normal-case mb-3">Start</a>
                <div class="d-flex flex-column flex-md-row align-items-start justify-content-center gap-2">
                    <p>or try</p>
                    <a href="/flashcards?mode=free" style="color: #ffff;  text-decoration: none; font-weight: 500;">Free mode</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
